<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display_Webpage</h1>
        <table border="2" style="background-color: brown;">
            <tr style="color: blue;">
                <th>pk</th>
                <th>Topic_name</th>
                <th>name</th>
                <th>url</th>
                
            </tr>
            {% for wo in QSWO %}

            <tr style="color: aqua;">
                <td>{{wo.pk}}</td>
                <td>{{wo.Topic_name}}</td>
                <td>{{wo.name}}</td>
                <td>{{wo.url}}</td>
            </tr>
            {% endfor %}
        </table>

    </center>
</body>
</html>